@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: hsl(257, 40%, 49%);
  --text-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
}

body {
  background-color: var(--primary-color);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-width: 80%;
  margin: auto;
  font-family: "Open Sans", Arial;
  font-weight: 400;
}

.navigation {
  height: 50px;
  margin: 2em 0;
}

.navigation img{
  height: 60%;
} 

main {
  margin: 2em 0;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero img {
  max-height: 400px;
  max-width: 100%;
}

.hero__container {
  margin: 2em 0;
  text-align: center;
}

.hero__container .container__title {
  margin-top: 1em;
  font-family: "Poppins", Arial;
  font-weight: 700;
}

.hero__container .container__description {
  margin-top: 1em;
  line-height: 1.5em;
}

.hero__container .container__cta {
  margin-top: 2em;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: var(--primary-color);
}


/* texto de frontedn mentor*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
  
}