@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 80%;
  margin: auto;
  font-family: "Open Sans", Arial;
  font-weight: 400;
}

.navigation {
  height: 50px;
  margin: 2em 0;
}

.navigation img{
  height: 60%;
} 

main {
  margin: 2.5em 0 1em;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero .image img{
  width: 100%;
}

.hero__container {
  margin: 2em 0;
  text-align: center;
}

.hero__container .container__title {
  margin-top: 1em;
  font-family: "Poppins", Arial;
  font-weight: 700;
}

.hero__container .container__description {
  margin-top: 1em;
  line-height: 1.5em;
}

.hero__container .container__cta {
  margin-top: 2em;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 2em;
  color: var(--primary-color);
}

footer {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: 300px;
}

footer img {
  height: 30px;
  margin: 0 10px;
  padding: 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
}


/* texto de frontedn mentor
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media screen and (min-width: 768px) {

  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
    height: 100vh;
    width: 90%;
  }

  main {
    margin: 5em auto;
  }

  .navigation {
    margin-top: 3em;
  }

  .navigation img {
    height: 100%;
  }

  .hero {
    flex-wrap: nowrap;
  }

  .hero .image {
    align-self: center;
    flex-grow: 1;
    width: 60%
  }

  .hero .hero__container {
    margin-left: 3em; 
    flex-shrink: 1;
    width: 40%;
    text-align: left;
  }

  .hero__container .container__title {
    font-size: 2.8em;
  }

  .hero__container .container__cta {
    /* width: 250px;
    height: 60px;
    border-radius: 30px; */
    font-size: 1.1em;
  }

  footer {
    margin-right: 10px;
  }

  footer img {
    height: 40px;
  }

}